body, html{
    width:100vw;
    height:100vh;
    margin:0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/* --------- Header ----------*/
.intro{
    background-image: url(./images/hero-banner-image.jpg);
    height: 400px;
    left:0;
}

.containerHeader{
    display:flex;
    margin-left: 15vw;
    padding-top:5vh; 
    justify-content: left;
    align-items: center;
    color:white;
}

.headerItems{
    height: 300px;  
    max-width: 500px;
}

.headerItems > h1 {
    font-size: 32px; 
    font-family: 'Fraunces', serif;
    font-weight: 600;
    margin: auto;
    margin-bottom: -5px;
}
.headerItems > p {
    font-size: 16px; 
}
.headerButton{
    position: relative;
    background-color: #C4EF72;
    border-style: none;
    border-radius: 2px;
    color:black;
    height: 50px;
    width:200px;
    font-size: 16px;
    margin-top:30px;
    cursor: pointer;
}


/*------------ Product ----------*/
.titleContainer{
    width:100vw;
    margin:auto;
    display: flex;
    text-align: center;
    justify-content: center;
}

.productTitle{
    margin:auto;
    margin-top: 50px;
    font-size: 32px;
    font-family: 'Fraunces', serif;
}
.productContainer{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    margin-top: 50px;
    height:auto;
    justify-content: center;
    align-items:flex-start;
    margin-bottom: 50px;
}
.productItem {
    flex-direction: column;
    align-items: center;
    min-width: 350px;
    max-width: 350px;
    margin-bottom: 50px;
}
.productItem > h2{
    font-size: 16px;
}
.productItem > a{
    height: 50px;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.productItem > a:hover{
    text-decoration: underline;
    color: #1C304A;
    cursor:pointer;
}

.pricesContainer{
    display: flex;
}

.oldPrice{
    font-size: 16px;
    color: #8E97A2;
    text-decoration: line-through;   
    margin-left: 5px; 
}

.newPrice{
    font-size: 16px;
    color: #801010;
}

img{
    height: 300px;
    width: auto;
}

/* ---------- Mobile ----------- */
@media only screen and (max-width: 600px){
 
    /* ------- HEADER MOBILE--------*/

    .intro{ 
        display: flex;
        width:100vw;
    }

    .containerHeader{
        display:flex;
        width:375px;
        height: auto;  
        max-width: 375px;
        justify-content: center;
    }
    .headerItems{
        width:335px;
        max-width: 335px;
        height: auto;
        margin:auto;
        padding-bottom: 80px;
    }
    .headerItems > h1 {
        margin: auto;
        font-size: 40px;
        padding-top: 0px;
        width: auto;
    }

    /*------------- PRODUCT MOBILE ----------*/
   .containerAbout{
        max-width: 375px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .titleContainer{
        width:375px;
        max-width: 375px;
        display: flex;
        align-items: center;
    }
    .aboutBorder{
        display: flex;
        margin-top:100px;
        margin-left:auto;
        margin-right: auto;
        text-align: center;
    }
    .aboutTitle{
        width:290px;
        max-width:290px;
        font-size: 40px;
        margin:auto;
        margin-top:25px;
    }
    .aboutItem{
        text-align: center;
    }
 
}

  